.navbar {
    height: 100vh;       /* Full screen height */
    width: 20vw;
    overflow: hidden;
    background-color: rgb(171, 181, 121);
    padding: auto;
}

.wrapper {
  width: max-content;   /* or a fixed width, or %, or clamp() */
  margin-left: 2.5vh;
  margin-top: 2.5vh;
  text-align: left;     /* keeps text left-justified */
}

nav a {
  color: rgb(112, 120, 73);           /* default color */
  text-decoration: none;
  padding: 8px 12px;
  font-size: 24pt;
}

nav a.active {
  color: rgb(220, 227, 190);        /* highlighted (selected) color */
}