.navbar {
    width: 20vw;
    overflow: hidden;
    padding: auto;
}

.wrapper {
  width: max-content;   /* or a fixed width, or %, or clamp() */
  margin-left: 2.5vh;
  margin-top: 2.5vh;
  text-align: left;     /* keeps text left-justified */
  line-height: 1.5;
}

nav a {
  color: rgb(112, 120, 73);           /* default color */
  text-decoration: none;
  padding: 8px 12px;
  font-size: 24pt;
}

nav a.active {
  color: rgb(220, 227, 190);        /* highlighted (selected) color */
}