.box {
    color: rgb(220, 227, 190);
    background-color: rgb(171, 181, 121);
    margin: 0px;
    padding: 30px;
    font-size: clamp(16pt, 2vw, 80pt);
    line-height: normal;
    width: clamp(100px, 70vw, 1500);
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-photo {
    width: clamp(100px, 90vw, 400px);
    height:auto;
    aspect-ratio: 2/3;
}

.center {
    text-align: center;
}


