
html, body, h1 {
  font-family: 'gillSansUB', Fallback, sans-serif !important;
}

@font-face {
  font-family: 'gillSansUB';
  src: url('assets/fonts/gillSansUB.otf') format('opentype');
}

html, body {
  overflow-y: scroll;     /* allow vertical scrolling */
  overflow-x: hidden;     /* disable horizontal scrolling */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: 'Cabin', system-ui, sans-serif; */
  
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;          /* hide scrollbar in Chrome/Safari/Edge */
}

.header {
  text-align: center;
  background-color: rgb(171, 181, 121);
}

h1 {
  color: rgb(112, 120, 73);
}

.text-box {
  background-color: rgb(171, 181, 121);
}




