<div class="bottom">
    <mat-drawer-container class="example-container">

      <mat-drawer
        #drawer
        class="nav-drawer"
        [mode]="drawerMode()"
        [opened]="drawerOpened()">

        <app-nav-bar></app-nav-bar>

        <!-- Only show close button on mobile -->
        <div style="text-align: right; padding-top: 25vh;">
            <button class="menu-button" *ngIf="isMobile()" mat-button (click)="drawer.toggle()">
                ‹ 
            </button>
        </div>
        
      </mat-drawer>

      <mat-drawer-content class="drawer">

        <!-- Only show open toggle button on mobile -->
        <button class="menu-button" *ngIf="isMobile()" mat-button (click)="drawer.toggle()">
          ☰
        </button>

        <div class="content">
            <router-outlet></router-outlet>
        </div>


      </mat-drawer-content>

    </mat-drawer-container>
  </div>