
.bottom {
    display: flex;
    height: 100vh;
}

.content {
    flex: 1 1 auto;        /* fill remaining space */
    overflow-y: auto;
    padding-top: 1vh;
    padding-left: 7vw;
    padding-right: 5vw;
    background: white;
    text-align: left;

}

.example-container {
    height: 100%;      /* full viewport height */
    width: 100%;        /* full width */
    display: block;
    margin: 0;
    padding: 0;
}

.nav-drawer {
    background-color: rgb(171, 181, 121);
}

.menu-button {
    display: block;        /* break out of inline centering */
    margin-right: auto;    /* push it to the left */
    border: none;
    background: none;
    font-size: 40pt;
    color: rgb(112, 120, 73);
}

.drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 2vh;
    padding-right: 2vw;
    background: white;

    text-align: left;        /* force left-justified text */
    align-items: stretch;    /* prevent centering */
}

@media (min-width: 768px){
    .content {
        padding: 2.5vw;
    }
}