
.bottom {
    display: flex;
    height: 100vh;
}

.content {
    padding-top: 1vh;
    padding-left: 7vw;
    padding-right: 5vw;
    background: white;
}

.example-container {
  height: 100vh;      /* full viewport height */
  width: 100%;        /* full width */
  display: block;
  margin: 0;
  padding: 0;
}

.nav-drawer {
    background-color: rgb(171, 181, 121);
}

.menu-button {
    border: none;
    background: none;
    font-size: 40pt;
    color: rgb(112, 120, 73);
}

.drawer {
    padding-top: 2vh;
    padding-right: 2vw;
    background: white;

}