.main-photo {
  position: relative;       /* establishes positioning context */
  width: 100vw;
  height: 100vh;       /* Full screen height */
  overflow: hidden;
}

.main-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* Image covers entire screen */
}

.photo-text {
  position: absolute;
  top: 94%;
  left: 6%;
  transform: translate(0, -100%);  /* centers text */
  text-align: left;
  padding: 1rem;

}

h1 {
  font-size: clamp(1rem, 16vw, 80pt);
  color: rgb(112, 120, 73);
  margin-bottom: clamp(10px, 10vw, 80px);
}

.schlosser {
  font-size: clamp(1rem, 20vw, 100pt);
}