.main-photo {
  position: relative;       /* establishes positioning context */
  width: 100vw;
  height: 100vh;       /* Full screen height */
  overflow: hidden;
}

.main-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* Image covers entire screen */
}

.photo-text {
  position: absolute;
  top: 94%;
  left: 6%;
  transform: translate(0, -100%);  /* centers text */
  text-align: left;
  padding: 1rem;

}

h1 {
  font-size: clamp(1rem, 12vw, 80pt);
  color: rgb(220, 227, 190);
  margin-bottom: clamp(10px, 7.5vw, 80px);
}

.schlosser {
  font-size: clamp(1rem, 15vw, 100pt);
}

.down-arrow {
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);  /* centers text */
  font-size: clamp(1rem, 12vw, 80pt);
}