.back {
    color:  rgb(112, 120, 73);
    background: none;
    border:none;
    border-radius: 12px;
    font-size: 50pt;
    margin-bottom: 20px;
}

.image {
    max-height:75vh;
    max-width: 90vw;
}